venv_mlm/
examples/
*.zip
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/ufc-data-analysis-visualization-beginner-checkpoint.ipynb
*.rar
proyecto 2/.ipynb_checkpoints/Linear regression - class-checkpoint.ipynb
proyecto 2/.ipynb_checkpoints/Video_Games_Sales_as_at_22_Dec_2016-checkpoint.csv
